.malos{
    background-color: red;
    color: white;
}
.buenos{
    background-color: blue;
    color: white;
}
#darth{
    font-size: 5rem;
}
#luke{
    font-size: 5rem;
    font-style: italic;
}
.soldados{
    border-style: dashed;
    letter-spacing: 1rem;
    padding: 1rem;
    
}

.apoyo{
    text-align: center;
}
.naves{
    text-transform: uppercase;
}