body{
    background-image: url('https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_1280.png');
}
.malos{
    background-color: red;
    color: white;
}
.buenos{
    background-color: blue;
    color: white;
}
#darth{
    font-size: 5rem;
}
#luke{
    font-size: 5rem;
    font-style: italic;
}
.soldados{
    border-style: dashed;
    letter-spacing: 1rem;
    padding: 1rem;
    
}

.apoyo{
    text-align: center;
}
.naves{
    text-transform: uppercase;
}
.droides{
    text-align: center;
}
ul{
    list-style-type: none;
}
img{
    height: 200px;
}
